body{
    background-color: #232323;
    margin:0;
    font-family: "Avenir", "Monserrat";
}

h1{
    color: #fff;
    text-align: center;
    background: steelblue;
    margin:0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding:20px 0;
}

button{
    border:none;
    background: none;
    height:100%;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size:inherit;
    outline:none;
    -webkit-transform: all 0.3s;
    -moz-transform: all 0.3s;
    -ms-transform: all 0.3s;
    -o-transform: all 0.3s;
    transform: all 0.3s;
}

button:hover{
    color: white;
    background-color:steelblue;
}

#displayColor{
    font-size: 200%;
}

#container{
    max-width: 600px;
    margin: 20px auto;

}

.square{
    width:30%;
    background-color: purple;
    padding-bottom: 30%;
    margin:1.66%;
    float: left;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

#stripe{
    background: white;
    height:30px;
    text-align: center;
    color: #000;
}

.selected{
    color: white;
    background-color:steelblue;
}

#message{
    display: inline-block;
    width:20%;
}

